@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

$darkgray: #414141;
/*i literally got this color from cubus.no dont sue me*/
$lightgray: #f1f2f3;

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Montserrat", Helvetica, "sans-serif";
}
p, b, a, input, button {
    font-size:16px;
    color:$darkgray;
}
[class^="col"] {
    display:inline-block;
    padding:5px;
}
.col-2 {
    width:16.66666667%;
}
.col-3 {
    width:25%;
}
.col-4 {
    width:33.33333333%;
}
.col-10 {
    width: 83.33333333%;
}
.body__wrap {
    width:1300px;
    margin:0 auto;
    display:block;
    position:relative;
}
.header {
    padding:10px 0px;
    &__logo {
        width:143px;
    }
    &__inline__elements {
        float:right;
        clear:right;
        list-style-type:none;
        display:inline-block;
        vertical-align:middle;
        margin-top:35px;
        li {
            margin:0px 5px;
        }
    }
    &__inline__elements * {
        list-style-type:none;
        display:inline-block;
        vertical-align:middle;
    }
    a {
        text-decoration:none;
        color:$darkgray;
        &:hover {
            text-decoration:underline;
        }
    }
}
.search {
    &__bar {
        padding:10px;
        color:#999;
        border:none;
        outline:none;
        background:$lightgray;
        &:focus {
            color:$darkgray;
        }
    }
    &__button {
        padding:10px;
        background:black;
        border:none;
        color:white;
        cursor:pointer;
    }
}
.cart {
    padding:5px;
    &__logo {
        width:30px;
    }
}
.menu {
    border-top:1px solid $lightgray;
    border-bottom:1px solid $lightgray;
    &__item {
        display:inline-block;
        padding:8px 8px;
        color:$darkgray;
        text-decoration:none;
        font-weight:500;
        cursor:pointer;
        text-transform:uppercase;
        border:2px solid white;
        transition:border .1s linear;
        &:hover {
            border-bottom:1px solid black;
        }
        &:hover ~ .menu__hover {
            display:block;
        }
    }
}
.menu__hover {
    display:none;
    position:absolute;
    width:100%;
    background:white;
    padding:10px;
    border-bottom:2px solid black;
    &__list {
        list-style:none;
        li {
            padding:5px 0px;
            a {
                text-decoration:none;
                &:hover {
                    text-decoration:underline;
                }
            }
        }
    }
    &:hover {
        display:block;
    }
}
.cta {
    margin:10px 0px;
    padding:10px 0px;
    background:$lightgray;
    text-align:center;
    p {
        font-size:30px;
        font-weight:600;
    }
}
.hotspot {
    display:inline-block;
    margin-bottom:10px;
    width:100%;
    img {
        width:100%;
        vertical-align:top;
    }
    &__info {
        text-align:center;
        vertical-align:top;
        text-transform:uppercase;
        padding:10px 0px;
        background:#eee;
        font-weight:400;
    }
}
.recommendations {
    h2 {
        font-size:28px;
    }
    &__product {
        display:inline-block;
        vertical-align:top;
        img {
            width:100%;
        }
        p, b {
            font-size:14px;
        }
        &--newprice {
            color:#e680a9;
            font-weight:600;
        }
    }
}
.footer {
    border-top:1px solid $lightgray;
    border-bottom:1px solid $lightgray;
    margin:10px 0px;
    padding:10px 0px;
    h2 {
        font-size:22px;
    }
    &__list {
        vertical-align:top;
        ul {
            list-style-type:none;
        }
        li {
            margin:5px 0px;
        }
        img {
            width:28px;
            margin-right:5px;
            vertical-align:middle;
        }
        a {
            text-decoration:none;
            vertical-align:middle;
            &:hover {
                text-decoration:underline;
            }
        }
    }
}
.sikrebetalinger {
    margin:0 auto;
    display:block;
    padding:10px 0px 10px 20px;
    img {
        display:inline-block;
        height:40px;
        margin-right:20px;
    }
}